<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <!--<add name="liteCMS" connectionString="nBdqxVlipVXhZ8XraGTRCOWXZDxMqn80G2fRAwvUqEVmwPVm/82+c8nsGbhv503gwDPtVejvj/4xdaWrPFGJ18sSAi75ms3BF+zdDoqDbluApnH4lafWnU2qYfjj2ypyMEEZ6yrSfjBYTuxIqJlBHQ==" providerName="System.Data.SqlClient"/>-->
    <!--<add name="liteCMS" connectionString="nBdqxVlipVXhFzz7mqWFyAE7osgLrC6VVz7ceCE7OjC0a0SKsAzjtpfXolH8KFiV4Ia3Cf4HJTW+s0YWX6+tnMJPPIwyMExsvnraQUS6/oqjWy7AGLRwxYJVh6mhwlS9TtxP36IEYTGjlaBK7Ljcnw==" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexionBV" connectionString="Data Source=10.29.25.9;Initial Catalog=BD_BV_RETENCION;User ID=sa;Pwd=congratulations;" providerName="System.Data.SqlClient" />
    <add name="conexionINS" connectionString="Data Source=10.29.25.9;Initial Catalog=BD_INSPECTORATE;User ID=sa;Pwd=congratulations;" providerName="System.Data.SqlClient" /-->
	  <add name="conexionBV" connectionString="Server=MVERGARAY0417\SQLEXPRESS;Initial Catalog=BD_CLINICA;Integrated Security=true;" providerName="System.Data.SqlClient" />
	  <add name="conexionINS" connectionString="Data Source=.;Initial Catalog=BD_CLINICA;Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>